.navbar{
    background-color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    font-size: small;
    color: #515151;
    margin-bottom: 1rem;
}
.lista{
    display: flex;
    gap: 40px;
}

.selectedNav{
    color: #4988da;
}
