* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body{
  background-color: #f2f5ff;
}


.vertical-menu{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 15%;
  height:max-content;
  a{
    padding: 10px 5px;
  }
  a:hover{
    background-color: #eee;
  }
}
a{
  color: inherit;
  text-decoration: none;
}

