* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  list-style: none;
}

body{
  background-color: #f2f5ff;
}

.flex{
  display: flex;
}

.main-content{
  padding: 1rem;
}
