/* TablaCasos.module.css */

.casosActivos {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .casosTableContainer {
    max-width: 100%;
    overflow-x: auto;
  }
  
  .casosTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .casosTable th,
  .casosTable td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .casosTable th {
   
    color: #333;
    font-weight: bold;
  }
  